<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="eXtensoft.application" type="XF.Common.eXtensibleFrameworkSection, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    <sectionGroup name="eXtensoft.database" type="XF.Common.eXtensibleStrategySectionGroup, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" >
      <section name="cyclops" type="XF.Common.eXtensibleStrategySection, XF.Common.Contracts, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </sectionGroup>
  </configSections>

  <eXtensoft.application zone="dev" appContext="cyclops" instanceId="local"
  dataFolderpath="data" isAsync="false" userIdParamName="UserIdentity" loggingKey="eventlog" bigDataUrl="http://bigdata.cyclops.com">
    <loggingSettings>
      <add key="eventlog" loggingStrategy="WindowsEventLog" publishSeverity="Verbose" />
      <add key="common" loggingStrategy="CommonServices" publishSeverity="Verbose" />
    </loggingSettings>
  </eXtensoft.application>

  <eXtensoft.database>
    <cyclops appContext="cyclops" resolvesTo="cyclops.sqlserver">
      <strategies>
      </strategies>
    </cyclops>
  </eXtensoft.database>

  <connectionStrings>
    <add name="cyclops.sqlserver" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=C:\github\xf\eXtensibleFramework\Cyclops.Web\App_Data\aspnet-Cyclops.Web.mdf;Initial Catalog=Cyclops;Integrated Security=True" providerName="System.Data.SqlClient"/>
  </connectionStrings>

  <system.serviceModel>

    <bindings>
      <basicHttpBinding>
        <binding name="bigArrays" sendTimeout="01:00:00" receiveTimeout="01:00:00" maxReceivedMessageSize="2147483647">
          <readerQuotas maxDepth="64" maxStringContentLength="2147483647" maxArrayLength="2147483647" maxBytesPerRead="4096" maxNameTableCharCount="16384"/>
          <!--<security mode="Transport"/>-->
        </binding>
      </basicHttpBinding>
    </bindings>

    <behaviors>
      <endpointBehaviors>
        <behavior name="maxItems">
          <dataContractSerializer maxItemsInObjectGraph="2147483646"/>
        </behavior>
      </endpointBehaviors>
    </behaviors>

    <client>


      <endpoint address="http://localhost:58028/genericservice.svc"
          binding="basicHttpBinding" bindingConfiguration="bigArrays"
          contract="XF.Common.Wcf.IDataPacketService"
          name="default"/>

    </client>

  </system.serviceModel>

  
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>