<connectionStrings>

  <!--<add name="ops.sqlserver" connectionString="Data Source=107.23.84.86;Initial Catalog=DevOps;User ID=ApiAdmin;Password=1clIck8PI" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection"  connectionString="Data Source=107.23.84.86;Initial Catalog=DevOps;User ID=ApiAdmin;Password=1clIck8PI" providerName="System.Data.SqlClient" />-->
 <!-- <add name="cyclops.sqlserver" connectionString="Data Source=(local);Initial Catalog=bicycle;Integrated Security=True" providerName="System.Data.SqlClient" />-->


  <!--<add name="cyclops.sqlserver" connectionString="Data Source=184.72.96.136;Initial Catalog=DevOps;User ID=partner;Password=1clIck8PI" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection"  connectionString="Data Source=184.72.96.136;Initial Catalog=DevOps;User ID=partner;Password=1clIck8PI" providerName="System.Data.SqlClient" />-->
  <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Cyclops.Web.mdf;Initial Catalog=Cyclops;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <add name="cyclops.sqlserver" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-Cyclops.Web.mdf;Initial Catalog=Cyclops;Integrated Security=True" providerName="System.Data.SqlClient"/>
  <!--
  <add name="ops.sqlserver" connectionString="Data Source=(local);Initial Catalog=Ops;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="DefaultConnection"  connectionString="Data Source=(local);Initial Catalog=Ops;Integrated Security=True" providerName="System.Data.SqlClient" />
-->

</connectionStrings>