<eXtensoft.application zone="dev" appContext="cyclops" instanceId="local"
  dataFolderpath="data" isAsync="false" userIdParamName="UserIdentity" loggingKey="eventlog" bigDataUrl="http://bigdata.cyclops.com">
  <loggingSettings>
    <add key="eventlog" loggingStrategy="WindowsEventLog" publishSeverity="Verbose" />
    <add key="common" loggingStrategy="CommonServices" publishSeverity="Verbose" />
  </loggingSettings>
</eXtensoft.application>